/*This sheet is added so we can add a custom style on top of our sheet.*/


/* http://stackoverflow.com/questions/18612651/how-to-use-responsive-background-image-in-css3-in-bootstrap */
/*html {
    background: url(/images/20405991160_bb65fdddda_k.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/




/*This is for the footer to look Good.
	See http://stackoverflow.com/questions/21324395/bootstrap-3-flush-footer-to-bottom-not-fixed
*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #95E6E6FF; 
  font-family: helvetica;
}

.navbar {
  margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #9966ff;
  color:white;
  padding-top: 20px;
  border-top: 8px
}

.footer a {
  color: white;
}
.footer a:hover {
/*  color:yellow;
  background-color: black;*/
  font-weight: bold;
}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
    height: 200px;
}

.thumbnail {
  margin-top: 4px;
}

.caption {
    min-height: 5em;
}

.tea-box {
  border: #ddd solid 1px;
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
  border-radius: 5px;
}



.fb_button {
  border-radius: 3px;
  font-size: 11px;
  height: 20px;
  padding: 0 0 0 2px;
  background: #4267b2;
  color: white;

    /*position: static;*/
    visibility: visible;
    width: 60px;
    height: 20px;

  position: relative;
  bottom: 6px;
  height: 20px;
  padding: 1px 8px 2.7px 6px;
  font-weight: 500;
  /*color: #fff;*/
  cursor: pointer;
  /*background-color: #1b95e0;*/
  border-radius: 3px;
}

.google-btn {
  position: relative;
  bottom: 6px;
  margin-left: 4px;
}


.tea-image-box img {
  max-height: 100%;
  max-width: 100%;
}
.panel-heading img{
  max-height: 100%;
  max-width: 100%;
  height: 30px;
}

/* This right here to make the tea index look good.*/
/*
.tea_image {
  height: 100px;
}
*/