
body {
    background: url('../images/tea_fields.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-inner {
    height: 30em;
    color: white;
}

.carousel-main-page {
  text-align: center;

}

